html {
  font-size: 62.5%;
  font-family: 'Barlow', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Barlow', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
